<div class="form-log-in width-form">
    <h2 class="mt-2 title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-data-form" %>
       </div>
    
       <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class:"input-data-form" %>
       </div>
       <div class="field ">
         <%= link_to "Forgot password?", new_password_path(resource_name), class:"forgot-password hover-btn" %><br />
      </div>
    
     <div>
      <% if devise_mapping.rememberable? %>
         <div class="field d-flex remember-checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
         </div>
      <% end %>
     </div>
    
      <div class="actions ">
        <%= f.submit "Log in" %>
      </div>

      <div class="field redirect-account ">
          <%= link_to "Don't have an acount?", new_registration_path(resource_name), class:"hover-btn" %><br />
      </div>
    <% end %>
    

</div>

