<div class="form-add-infomation">
<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前%>
    <%= form.text_field :name ,class:"input-data-form"%>
  </div>

  <div class="field">
    <%= form.label :誕生日%>
    <%= form.date_select :birthday,class:"input-data-form" %>
  </div>

  <div class="field">
    <%= form.label :国籍%>
    <%= form.text_field :country,class:"input-data-form"  %>
  </div>

  <div class="field">
    <%= form.label :身長%>
    <%= form.text_field :height,class:"input-data-form"  %>
  </div>

  <div class="field">
    <%= form.label :体重%>
    <%= form.text_field :weight,class:"input-data-form"  %>
  </div>

  <div class="field">
    <%= form.label :クラブ%>
    <%= form.text_field :club,class:"input-data-form"  %>
  </div>
  
  <div class="field">
    <%= form.label :写真%>
    <%= form.file_field :image %><br>
  </div>

  <div class="actions">
    <%= form.submit '保存' %>
  </div>
<% end %>
</div>
