<p id="notice"><%= notice %></p>

<h1>選手</h1>

<%= form_tag players_path, :method => 'get' do %>
    <%= text_field_tag :player_name, params[:player_name] %>
    <%= submit_tag "検索" %>
<% end %>


<%= link_to '高度な検索', new_search_player_path %>

<table class="table">
  <thead >
    <tr> 
      <th>名前</th>
      <th>誕生日</th>
      <th>国籍</th>
      <th>身長</th>
      <th>体重</th>
      <th>クラブ</th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @players %>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.birthday %></td>
            <td><%= player.country %></td>
            <td><%= player.height %></td>
            <td><%= player.weight %></td>
            <td><%= player.club %></td>
            <td><%= link_to '詳細', player, class: 'btn btn-outline-primary btn-block' %></td>
            <td><%= link_to '編集', edit_player_path(player), class: 'btn btn-outline-warning btn-block' %></td>
            <td><%= link_to '削除', player, method: :delete, data: { confirm: '本当ですか？' }, class: 'btn btn-outline-danger btn-block' %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger"><%=link_to '全ての選手',players_path%></button>
  <button type="button" class="btn btn-warning"><%=link_to '追加',new_player_path%></button>
</div>

