<p id="notice"><%= notice %></p>

<h1>Players</h1>

<%= form_tag players_path, :method => 'get' do %>
    <%= text_field_tag :player_name, params[:player_name] %>
    <%= submit_tag "Search" %>
<% end %>

<table class="table">
  <thead >
    <tr> 
      <th>Name</th>
      <th>Birthday</th>
      <th>Country</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Club</th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @players %>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.birthday %></td>
            <td><%= player.country %></td>
            <td><%= player.height %></td>
            <td><%= player.weight %></td>
            <td><%= player.club %></td>
            <td><%= link_to 'Show', player %></td>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger"><%=link_to 'All Players',players_path%></button>
  <button type="button" class="btn btn-warning"><%=link_to 'New Player',new_player_path%></button>
</div>

