<p id="notice"><%= notice %></p>
<div class="details-player">
    <h1 class="text-center">
        <%= @player.name %>
    </h1>
    <div class="image-player">
      <% if @player.image.attached? %>
      <%= image_tag @player.image, class:"card-image"%>
      <% end %>    
    </div>
<div class="infor-details">
      <div class="infor-about-player mt-5 mb-5">
         <h3 class="text-center">選手の情報</h3>
         <table class="table ">
            <tbody>
               <tr>
                  <td>誕生日</td>
                  <td>:</td>
                  <td><%= @player.birthday %></td>
               </tr>
               <tr>
                  <td>国籍</td>
                  <td>:</td>
                  <td><%= @player.country %></td>
               </tr>
               <tr>
                  <td>身長</td>
                  <td>:</td>
                  <td> <%= @player.height %></td>
               </tr>
               <tr>
                  <td>体重</td>
                  <td>:</td>
                 <td><%= @player.weight %></td>
               </tr>
               <tr>
                  <td>クラブ</td>
                  <td>:</td>
                   <td>  <%= @player.club%></td>
               </tr>

               <tr>
                  <td></td>
                  <td></td>
                  <td>
                      <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_player_path(@player)%>  
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
</div>
</div>



<div>
    <h2 class="text-center">
         譲渡の履歴
    </h2>
    
    <ul>
        
        <table class="table ">
            <tbody>
               <tr>
                  <td>以前のクラブ</td>
                  <td>以降のクラブ</td>
                  <td>デート</td>
                  <td>ノート</td>
               </tr>
                <% @player.transfer_history.each do |transfer_history|%>
                   <tr>
                      <td><%= transfer_history.old_club %></td>
                      <td><%= transfer_history.new_club %></td>
                      <td><%= transfer_history.day %></td>
                      <td><%= transfer_history.note %></td>
                   </tr>
                  <% end %>
               
            </tbody>
         </table>
    <button type="button" class="btn btn-outline-info btn-sm" ><%= link_to '譲渡追加', new_player_transfer_history_path(@player) %>
    </button>
          
    </ul>
</div>

<h2>レビューリスト</h2>
<ul>
  <% @player.player_review.each do |player_review|%>
   <li><%= player_review.review %>
     (<i><%= player_review.user.id %></i>)</li>
<% end %>
</ul>

<h3>レビュー</h3>
<%= form_with(model: @player_review, local: true) do |form| %>
  <div class="field">
    <%= form.text_area :review, :size=>"50" %>
    <%= form.hidden_field :player_id, :value => @player.id %>
  </div>
  <div class="actions">
    <%= form.submit "レビュー追加" %>
  </div>
<% end %>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger"><%= link_to '編集', edit_player_path(@player) %></button>
  <button type="button" class="btn btn-warning"><%= link_to '戻る', players_path %></button>
</div>

