<p id="notice"><%= notice %></p>
<div class="details-player">
    <h1 class="text-center">
        <%= @player.name %>
    </h1>
    <div class="image-player">
      <% if @player.image.attached? %>
      <%= image_tag @player.image%>
      <% end %>    
    </div>
<div class="infor-details">
      <div class="infor-about-player mt-5 mb-5">
         <h3 class="text-center">playerの情報</h3>
         <table class="table ">
            <tbody>
               <tr>
                  <td>Birthday</td>
                  <td>:</td>
                  <td><%= @player.birthday %></td>
               </tr>
               <tr>
                  <td>Country</td>
                  <td>:</td>
                  <td><%= @player.country %></td>
               </tr>
               <tr>
                  <td>Height</td>
                  <td>:</td>
                  <td> <%= @player.height %></td>
               </tr>
               <tr>
                  <td>Weight</td>
                  <td>:</td>
                 <td><%= @player.weight %></td>
               </tr>
               <tr>
                  <td>Club</td>
                  <td>:</td>
                   <td>  <%= @player.club%></td>
               </tr>

               <tr>
                  <td></td>
                  <td></td>
                  <td>
                      <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_player_path(@player)%>  
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
</div>
</div>



<div>
    <h2 class="text-center">
         Transfer History
    </h2>
    
    <ul>
        
        <table class="table ">
            <tbody>
               <tr>
                  <td>Old Club</td>
                  <td>New Club</td>
                  <td>Date</td>
                  <td>Note</td>
               </tr>
                <% @player.transfer_history.each do |transfer_history|%>
                   <tr>
                      <td><%= transfer_history.old_club %></td>
                      <td><%= transfer_history.new_club %>,</td>
                      <td><%= transfer_history.day %></td>
                      <td><%= transfer_history.note %></td>
                   </tr>
                  <% end %>
               
            </tbody>
         </table>
       
          <button type="button" class="btn btn-primary">    <%= link_to 'New Transfer', new_player_transfer_history_path(@player) %>
</button>
    </ul>
</div>


<h2>Review Form</h2>
<%= form_with(model: @player_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :player_id, :value => @player.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h2>Review List</h2>
<ul>
  <% @player.player_review.each do |player_review|%>
   <li><%= player_review.review %>
     (<i><%= player_review.user.id %></i>)</li>
<% end %>
</ul>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger"><%= link_to 'Edit', edit_player_path(@player) %></button>
  <button type="button" class="btn btn-warning"><%= link_to 'Back', players_path %></button>
</div>

