<%= form_with(model: search_player, local: true) do |form| %>
  <% if search_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_player.errors.count, "error") %> prohibited this search_player from being saved:</h2>

      <ul>
        <% search_player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_name, "名前" %>
    <%= form.text_field :player_name %>
  </div>

  <div class="field">
    <%= form.label :country, "国籍" %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :club,"クラブ" %>
    <%= form.text_field :club %>
  </div>

  <div class="actions">
    <%= form.submit "検索" %>
  </div>
<% end %>
