<%= form_with(model: [@player, transfer_history], local: true) do |form| %>
  <% if transfer_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer_history.errors.count, "error") %> prohibited this transfer_history from being saved:</h2>

      <ul>
        <% transfer_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :old_club,"以前のクラブ" %>
    <%= form.text_area :old_club %>
  </div>

  <div class="field">
    <%= form.label :new_club,"以降のクラブ" %>
    <%= form.text_area :new_club %>
  </div>

  <div class="field">
    <%= form.label :day, "デート" %>
    <%= form.date_select :day %>
  </div>

  <div class="field">
    <%= form.label :note, "ノート" %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit "譲渡追加"%>
  </div>
<% end %>

