<p id="notice"><%= notice %></p>

<h1>Transfer Histories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Old club</th>
      <th>New club</th>
      <th>Day</th>
      <th>Note</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_histories.each do |transfer_history| %>
      <!-- <tr>
        <td><%= transfer_history.user_id %></td>
        <td><%= transfer_history.old_club %></td>
        <td><%= transfer_history.new_club %></td>
        <td><%= transfer_history.day %></td>
        <td><%= transfer_history.note %></td>
        <td><%= transfer_history.player_id %></td>
        <td><%= link_to 'Show Player', [@player] %></td>
        <td><%= link_to 'Edit Transfer', edit_player_transfer_history_path(@player, transfer_history) %></td>
        <td><%= link_to 'Destroy Transfer', [@player, transfer_history], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer History', new_player_transfer_history_path(@player) %>
